@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Fontdiner+Swanky&family=Henny+Penny&family=Iansui&family=Kablammo&family=Noto+Sans+JP:wght@100..900&family=Palette+Mosaic&family=Schoolbell&family=Sigmar+One&display=swap");

/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.button-div {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
}
.clickable1 {
  filter: brightness(95%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.clickable1:hover {
  cursor: wait;
  transform: scale(1.5);
  overflow-x: hidden;
}
/* changes to the style when the user CLICKS */
.clickable1:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.5);
}
/*  specifies font changes */
.bg {
  background-image: url("images/ENAbbqbg.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background-image: url("images/ENAregbg.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "Palette Mosaic";
  font-weight: 400;
  font-size: 200%;
}
/* this class specifies shape */
.row {
  height: 80%;
  width: 100%;
  display: flex;
}
.row2 {
  height: 20%;
  width: 100%;
  display: flex;
}
.box {
  height: 100%;
  width: 100%;
}
.box2 {
  height: 100%;
  width: 100%;
}
.column {
  height: 100%;
  width: 100%;
  display: flex;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}
.gone {
  display: none;
}
/* these classes specify color */
.black {
  background-color: #000000;
}
.white {
  background-color: white;
}
.pink {
  background-color: #eb5674;
}
.yellow {
  background-color: #fbee40;
}
.orange {
  background-color: #fd5632;
}
.green {
  background-color: green;
}
.dark-grey {
  background-color: #a9a9a9;
}
.grey {
  background-color: #a9a9a9;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.cyan {
  background-color: cyan;
}
/* styles if the screen is 600px or less */
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
  /* this class specifies shape */
  .row2 {
    height: 40%;
    width: 100%;
    display: block;
  }
  .row {
    height: 60%;
    width: 100%;
    display: block;
  }
  .column {
    height: 50%;
    width: 100%;
    display: flex;
  }
  .box {
    height: 50%;
    width: 100%;
  }
  .box2 {
    height: 100%;
    width: 100%;
  }
}
